<template>
    <div id='game' class="game-room__c-messagelist">
        <div v-if="gamename === 'Tic-Tac-Toe'">
            <TicTacToe :socket="socket" :nickname="user.nickname" :roomname="roomname" :players_num="players_num"/>
        </div>
        <div v-if="gamename === 'Rock-Paper-Scissors'">
            <RockPaperScissors :socket="socket" :nickname="user.nickname" :roomname="roomname" :players_num="players_num"/>
        </div>
    </div>
</template>


<script>
import { mapGetters } from 'vuex';
import TicTacToe from '@/components/games/TicTacToe/src/components/board.vue';
import RockPaperScissors from '@/components/games/RockPaperScissors/src/components/board.vue';

export default {
    name: 'GameContainer',
    components: {
        TicTacToe,
        RockPaperScissors
    },
    props: ['gamename', 'players_num', 'socket', "roomname"],
    computed: {
        ...mapGetters(['getUserData'])
    },
    data: function() {
        return {
            user: null
        };
    },
    created() {
        this.user = this.getUserData;
        console.log("game " + this.user.nickname + " " + this.roomname)
    },
    methods: {
        updateGame() {
            //container.scrollTop = container.scrollHeight;
        }
    },
    mounted() {
        this.updateGame();
    },
    updated() {
        this.updateGame();
    }
};
</script>


<style lang="scss" scoped>
</style>
