.footer {
    color: #fff;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    background: #18191c;
    text-align: center;
    border-top: 1px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;

    &__content {
        display: flex;
        width: 85%;
        margin: 0 auto;

        @include respond(phone) {
            flex-flow: column;
        }
    }

    &__left {
        width: 30%;
        text-align: left;
        align-self: center;

        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__right {
        flex-grow: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            margin: 0.5rem 0;
            flex-flow: column;

            & > span {
                margin: 0 0 5px 0;
            }
        }
    }

    &__icon {
        font-size: 2.5em;
        color: #fff;
        margin: 0 1rem;

        &--logo {
            transform: rotate(45deg);
            font-size: 1.8em;
            color: #fff;
            animation: zoomIn 0.5s linear;
        }
    }
}
