@import '@/assets/scss/abstract/variables.scss';

.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    transition: opacity 1s ease;
    @include flex-center();

    &__content {
        font-family: 'Work Sans';
        width: 500px;
        height: 600px;
        background: #18191c;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        color: #fff;
        position: absolute;
        @include center();
        transition: opacity 1s ease, transform 1s cubic-bezier(0.42, 0, 0.2, 1.51);

        @include respond(phone) {
            width: 90%;
            margin-top: 2rem;
        }
    }

    &__header {
        position: relative;
        bottom: 0;
        padding: 2rem 1rem;
        height: 15%;
        text-align: center;
    }

    &__body {
        height: 75%;
        text-align: center;

        @include respond(phone) {
            overflow: auto;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        border-top: 1px solid white;
        z-index: 3;

        &:hover {
            background: rgba(0, 0, 0, 0.6);
        }
    }
}
