<template>
    <div class="page profile">
        <div class="section section--profile profile__content">
            <div class="section__heading mt-10">
                <span class="section__title">Update Account</span>
            </div>
            <div class="section__content">
                <form @submit.prevent="nicknameSubmit" class="form">
                    <p class="lead">Edit Profile Details</p>
                    <div class="profile__item" v-if="user.social.id === null">
                        <img :src="user.image" alt class="profile__image">
                    </div>
                    <div class="profile__item" v-else>
                        <img :src="user.social.image" alt class="profile__image">
                    </div>
                    <br>
                    <div class="form__input-group">
                        <ion-icon name="pricetags" class="form__icon"></ion-icon>
                        <input
                            type="text"
                            name="nickname"
                            class="form__control"
                            placeholder="Enter New Nickname"
                            pattern=".{5,15}"
                            title="Username must be between 5 and 15 characters"
                            v-model.trim="nickname"
                        >
                        <label for="username" class="form__label">Nickname</label>
                    </div>
                    <div class="form__input-group" v-if="this.getUserData.social.id === null">
                        <ion-icon name="person" class="form__icon"></ion-icon>
                        <input
                            type="email"
                            name="email"
                            class="form__control"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            title="Email address is not valid"
                            placeholder="Enter New Email"
                            v-model.trim="email"
                        >
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form__input-group">
                                <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                                <input
                                    type="password"
                                    name="old_password"
                                    class="form__control"
                                    placeholder="Current Password"
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                                    title="Must contain at least one number, one uppercase and lowercase letter, one spacial character and from 8 to 15 characters"
                                    v-model.trim="old_password"
                                >
                                <label for="old_password" class="form__label">Current Password</label>
                    </div>
                    <transition
                        name="fade"
                    >
                        <div v-if="showPassword" class="form__input-group">
                            <div class="form__input-group">
                                <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                                <input
                                    type="password"
                                    name="password"
                                    class="form__control"
                                    placeholder="Enter New Password"
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                                    title="Must contain at least one number, one uppercase and lowercase letter, one spacial character and from 8 to 15 characters"
                                    v-model.trim="password"
                                >
                                <label for="password" class="form__label">New Password</label>
                            </div>
                            <div class="form__input-group">
                                <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                                <input
                                    type="password"
                                    name="confirm_password"
                                    class="form__control"
                                    placeholder="Confirm Password"
                                    v-model.trim="confirm_password"
                                >
                                <!--<input
                                    type="password"
                                    name="confirm_password"
                                    class="form__control"
                                    placeholder="Confirm Password"
                                    pattern=".{5,15}" //The validation is deleted from the code
                                    title="Password must be between 5 and 15 characters"
                                    v-model.trim="confirm_password"
                                >-->
                                <label for="confirm_password" class="form__label">Confirm Password</label>
                            </div>
                        </div>
                    </transition>
                    <div v-if="!showPassword">
                        <div @click="showPassword=true" class="btn btn--rounded">Change Password</div>
                        <br><br>
                    </div>
                    <div class="form__input-group">
                        <ion-icon name="map" class="form__icon"></ion-icon>
                        <input
                            type="location"
                            name="location"
                            class="form__control"
                            placeholder="Enter New Location"
                            v-model.trim="location"
                        >
                        <label for="location" class="form__label">Location</label>
                    </div>
                    <Error :errors="errors"/>
                    <div class="form__actions mt-3">
                        <a @click="nicknameBackBtn" class="btn btn--info">Back</a>
                        <button type="submit" class="btn btn--clear btn--danger">Update Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { mapActions, mapGetters } from 'vuex';
import _ from 'lodash';
import slugify from 'slugify';
import Error from '../error/Error.vue';

export default {
    name: 'EditUserProfile',
    components: {
        Error
    },
    data: function() {
        return {
            user: {},
            email: '',
            nickname: '',
            location: '',
            old_password: '',
            password: '',
            confirm_password: '',
            showPassword: false,
            errors: []
        };
    },
    computed: {
        ...mapGetters(['getUserData', 'isAuthorized'])
    },
    methods: {
        ...mapActions(['saveUserData']),

        nicknameBackBtn() {
            this.$router.go(-1);
        },
        checkFields() {
            if (this.nickname === this.getUserData.nickname) {
                return true;
            }
        },
        nicknameSubmit() {
            if(this.nickname === "") {
                this.errors.push({
                    key: "Error",
                    value: "Nickname is required field."
                });
            }
            else if(this.password !== "" && this.password != this.confirm_password) {
                this.errors.push({
                    key: "Error",
                    value: "Confirmation password didn't match. Try again."
                });
            }
            else if (localStorage.getItem('authToken')) {
                const updatedUserDetails = {
                    nickname: this.nickname === this.getUserData.nickname ? null : slugify(this.nickname),
                    email: this.email === this.getUserData.email ? null : this.email,
                    location: this.location === this.getUserData.location ? null : this.location,
                    password: this.password === "" ? undefined : this.password,
                    old_password: this.old_password
                };
                axios
                    .put(`/api/user/current`, updatedUserDetails)
                    .then(async res => {
                        if (res.data.errors) {
                            for (const error of res.data.errors) {
                                console.log(error);
                                const [key] = Object.keys(error);
                                const [value] = Object.values(error);
                                this.errors.push({
                                    key,
                                    value
                                });
                            }
                        } else {
                            await this.$store.dispatch('saveUserData', res.data.user);
                            this.user = res.data.user;
                            this.$router.push({
                                name: 'UserProfile',
                                params: {
                                    nickname:
                                        updatedUserDetails.nickname === null
                                            ? this.getUserData.nickname
                                            : updatedUserDetails.nickname
                                }
                            });
                        }
                    })
                    .catch(err => console.log(err));
            }

            setTimeout(() => {
                this.errors = [];
            }, 5000);
        }
    },
    created() {
        if (localStorage.getItem('authToken') && _.isEmpty(this.getUserData)) {
            axios
                .get(`/api/user/current`)
                .then(res => {
                    this.$store.dispatch('saveUserData', res.data);
                    this.$store.dispatch('toggleAuthState', true);
                    this.user = res.data;
                })
                .catch(err => err);
        } else {
            this.user = this.getUserData;
        }
        /** Assign model values */
        for (let key of Object.keys(this.$data)) {
            if (this.getUserData[key]) {
                this.$data[key] = this.getUserData[key];
            }
        }
    },
    mounted() {}
};
</script>


<style lang="scss">
@import '@/assets/scss/views/profile.scss';

.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
