<template>
  <div class="board-game">
    <div class="waiting" :style="{'opacity':!isStart&&players.length < players_num?1:0}">Waiting for players...</div>
    <div class="playersList">
      <player
        v-for="p in players"
        :key="p.id"
        :player="p"
        :currentPlayer="player"
        :socket="socket"
      />
    </div>

    <div class="playersList" v-show="isStart && (canPlay || winner)">
      <cell
        v-for="cell in cells"
        :key="cell.id"
        :size="size"
        :id="cell.mark"
        :winner="winner !== null && cell.mark === winner.mark"
        class="playerlist"
      />
    </div>
    <br/>
    <p v-if="canPlay" class="gametimer">{{ game_time }}</p>
    <p v-if="winner !== null && winner.id !== undefined" class="thewinner">The winner is: {{ players.find(p => p.id === winner.id).username }}</p>
    <div class="choice" v-if="canPlay && !isLost">
      <img :class="{'hand-looser': mark !== 0}" class="choice-ico" v-on:click="move(0)" src="@/components/games/RockPaperScissors/public/rock.png" />
      <img :class="{'hand-looser': mark !== 1}" class="choice-ico" v-on:click="move(1)" src="@/components/games/RockPaperScissors/public/paper.png" />
      <img :class="{'hand-looser': mark !== 2}" class="choice-ico" v-on:click="move(2)" src="@/components/games/RockPaperScissors/public/scissors.png" />
    </div>

    <div v-if="winner" class="btn-rpc-container">
      <button class="btn-rpc" v-on:click="playAgain">{{ winner.id !== undefined ? "PLAY AGAIN" : "NEXT ROUND" }}</button>
    </div>

    <transition name="countDown" mode="out-in">
      <div v-if="countDown>0" :key="countDown" id="countDown">{{countDown}}</div>
    </transition>
  </div>
</template>

<script>
import cell from "@/components/games/RockPaperScissors/src/components/cell.vue"
import player from "@/components/games/RockPaperScissors/src/components/player.vue";

export default {
  name: "RockPaperScissors",
  props: ["socket", "nickname", "roomname", "players_num"],

  data() {
    return {
      roomID: "",
      players: [],
      cells: [],
      isStart: false,
      canPlay: false,
      winner: "",
      size: null,
      countDown: 0,
      game_time: 0,
      msg: "",
      showMsg: false,
      mark: -1,
      player: null,
      isLost: false
    };
  },

  created() {
    console.log("board " + this.roomname + " " + this.nickname);
    this.socket.on("waiting", time => {
      this.countDown = time;
    });
    this.socket.on("update", data => {
      console.log("nickname: " + this.nickname);
      console.log("game updates: " + JSON.stringify(data));
      this.roomID = data.roomID;
      this.cells = data.cells;
      this.winner = data.winner;
      this.players = data.players;
      this.isStart = data.isStart;
      this.canPlay = data.canPlay,
      this.size = data.size;
      this.game_time = data.game_time;
      if(!this.canPlay)
        this.mark = -1;

      this.player = this.players.find(player => player.username === this.nickname);
      this.isLost = this.player.isLost;
    });

    this.socket.emit("joinGame", {
        username: this.nickname,
        img: "https://api.adorable.io/avatars/" + this.nickname,
        maxPlayers: this.players_num,
        roomname: this.roomname
    });
  },
  destroyed() {
    console.log("destroyed");
    this.socket.off("waiting");
    this.socket.off("update");
  },
  methods: {
    move: function(id) {
      this.mark = id;
      this.socket.emit("move", id);
    },
    playAgain: function() {
      this.socket.emit("playAgain");
    }
  },

  components: {
    cell,
    player
  }
};
</script>

<style scoped>

.btn-rpc {
    width: 100%;
    height: 60px;
    background-color: #4ecdc4;
    padding: 14px 20px;
    margin: 150px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .8);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .8);
    font-weight: 700;
    font-size: large;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.btn-rpc:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #66a7a4;
}

.fade-enter-active {
  transition: opacity 2s;
}
.fade-enter {
  opacity: 0;
}

#countDown {
  margin: 0;
  user-select: none;
  text-shadow: 0 0 3px #6cf;
  color: #011;
  font-size: 20em;
  line-height: 0.7em;
}

.overlay-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 1s;
}
.overlay-enter {
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transform: rotate(90deg);
}
.msgInput-enter-active,
.msgInput-leave-active {
  transition: all 0.3s ease-in-out;
}
.msgInput-enter,
.msgInput-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.countDown-enter-active {
  transition: all 0.35s ease-in-out;
}
.countDown-enter {
  opacity: 0;
  transform: rotate3d(0, 1, 0, -180deg);
}
.bbtn {
  width: 40%;
  margin: 20px 10px;
  padding: 0;
}
.playersList {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 5px;
}
.overlay img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.overlay {
  position: relative;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#board {
  background: rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 10px;
  width: 350px;
  height: 350px;

  display: flex;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  overflow: hidden;
}

.waiting {
  overflow: hidden;
  background: linear-gradient(90deg, #1a535c, #4ecdc4, #1a535c);
  background-repeat: no-repeat;
  background-size: 85%;
  animation: textAnimate 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}

.board-game {
   height: 650px;
}

.choice {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: auto;
  padding-top: 40px;
}

.choice-ico:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.hand-looser {
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

@keyframes textAnimate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.playerlist {
  margin: 0px 14px
}

.gametimer {
  color: red;
  font-size: 25px;
}

.thewinner {
  color: red;
  font-size: 25px;
}

.btn-rpc-container {
  padding-top: 20px;
}

</style>
