<template>
  <div class="cell">
    <transition name="playerImg">
      <img :class="{'hand-looser-cell': !winner}" v-if="id === 0" src="@/components/games/RockPaperScissors/public/rock.png" />
      <img :class="{'hand-looser-cell': !winner}" v-if="id === 1" src="@/components/games/RockPaperScissors/public/paper.png" />
      <img :class="{'hand-looser-cell': !winner}" v-if="id === 2" src="@/components/games/RockPaperScissors/public/scissors.png" />
      <ion-icon v-if="id === -1" name="sad-outline" style="font-size: 78px"></ion-icon>
      <span v-if="id === -2"></span>
    </transition>
  </div>
</template>


<script>
export default {
  name: "RPCCell",
  props: ["img", "canClick", "size", "id", "winner"],
  data() {
    return {
      imgSize: 80 + "%",
      imgOpacity: 1
    };
  },
  created() {
  },
  methods: {
    check: function() {
      if (this.canClick) {
        this.$emit("change");
      }
    }
  },
  computed: {
    sizeCalc: function() {
      return 100 / this.size + "%";
    }
  }
};
</script>


<style scoped>
.playerImg-enter-active {
  transition: all 0.2s;
}
.playerImg-enter {
  opacity: 0;
  transform: scale(0);
}
img {
  object-fit: cover;
  border-radius: 50%;
  transition: 0.1s ease-in;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;

  user-select: none;
}

.hand-looser-cell {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

</style>
