<template>
    <div class="page roomList">
        <section class="section section--mmt mb-3">
            <div class="section__content row roomcontainer">
                <div class="rooms" v-if="rooms">
                    <div class="rooms__header">
                        <Error :errorMessage="errorMessage"/>
                        <div class="chosengame-container">
                            <span class="gametext">Game: </span>
                            <span class="chosengame">
                                {{selectedGame !== null ? selectedGame.name : "All games"}}
                            </span>
                            <a v-if="selectedGame !== null" href="#" class="icon-delete deleteicon" @click="selectedGame=null"><ion-icon style="font-size: 24px; margin-bottom: -6px" name="close-circle-outline"></ion-icon></a>
                        </div>
                        <div class="rooms__details">
                            <div class="rooms__details-item">
                                Total Rooms:
                                <span class="badge badge--info">{{ rooms.length }}</span>
                            </div>
                            <div class="rooms__details-item">
                                Private Rooms:
                                <span
                                    class="badge badge--danger"
                                >{{ getPrivateRooms.length }}</span>
                            </div>
                            <div class="rooms__details-item">
                                Public Rooms:
                                <span
                                    class="badge badge--success"
                                >{{ getPublicRooms.length }}</span>
                            </div>
                        </div>
                        <div class="form__input-group">
                            <ion-icon name="search" class="form__icon" style="padding-top: 5px;"></ion-icon>
                                <input
                                    type="text"
                                    class="rooms__search-input"
                                    placeholder="Search | 'my_rooms' to list your rooms"
                                    v-model.trim="searchInput"
                                    maxlength="20"
                                >
                        </div>
                    </div>
                    <transition name="slideDown">
                        <ul class="rooms__list">
                            <transition-group name="slideUp" v-if="filteredRooms.length > 0">
                                <li
                                    v-for="room in filteredRooms"
                                    :key="room._id"
                                    class="rooms__list-item"
                                >
                                    <a
                                        :href="`room/${room._id}`"
                                        class="rooms__list-item-link"
                                        @click.prevent="nicknameRoomClick(room)"
                                        v-if="selectedGame === null || selectedGame.name === room.game_name"
                                    >
                                        <div class="rooms__item-container">
                                            <div class="rooms__item-details">
                                                <p>
                                                    <strong>Room Name: </strong>
                                                    <strong class="roomname-text">{{ room.name }}</strong>
                                                </p>
                                                <p>
                                                    <strong>Game:</strong>
                                                    {{ room.game_name }}
                                                </p>
                                                <p>
                                                    <strong>Users: </strong>
                                                    <strong class="usersnum">{{ room.users.length }}</strong>/<strong class="playersnum">{{ room.players_num }}</strong>
                                                </p>
                                                <p>
                                                    <strong>Room Admin:</strong>
                                                    {{ room.user ? room.user.username : 'Unknown User' }}
                                                </p>
                                                <p :class="{ public: room.access, private: !room.access}">
                                                    {{ room.access === true ? 'Public': 'Private' }}
                                                </p>
                                            </div>
                                            <div class="rooms__item-actions">
                                                <div
                                                    class="rooms__item-action"
                                                >
                                                    <a
                                                        href="#"
                                                        @click.stop="nicknameDeleteModal"
                                                        :name="room.name"
                                                        class="btn btn--danger"
                                                        v-show="room.user && getUserData._id === room.user._id"
                                                    >Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </transition-group>
                            <span v-else>No Rooms</span>
                        </ul>
                    </transition>
                    <!-- Private Room Enter Modal -->
                    <Modal name="private-room" ref="privateRoom">
                        <template slot="header">
                            <h2
                                class="text-upper"
                            >Enter {{ this.privateRoomName || 'Private Room' }}</h2>
                        </template>
                        <template slot="body">
                            <form
                                @submit="nicknamePrivateRoomCheck"
                                slot="body"
                                class="form form--nbs pt-3"
                            >
                                <div class="form__input-group">
                                    <ion-icon name="key" class="form__icon"></ion-icon>
                                    <input
                                        type="password"
                                        name="password"
                                        class="form__control"
                                        placeholder="Enter Password"
                                        v-model.trim="privateRoomPassword"
                                    >
                                    <label for="password" class="form__label">Password</label>
                                </div>
                                <Error :errors="errors"/>
                                <button type="submit" class="btn btn--clear btn--info">Enter Room</button>
                            </form>
                        </template>
                    </Modal>
                    <!-- Create Room Modal -->
                    <Modal v-if="selectedGame !== null" name="create-room" ref="createRoom">
                        <template slot="header">
                            <h2 class="text-upper">Create Room</h2>
                        </template>
                        <template slot="body">
                            <form
                                @submit="nicknameCreateRoom"
                                slot="body"
                                class="form form--nbs pt-3"
                            >
                                <div class="form__input-group">
                                    <ion-icon name="list" class="form__icon"></ion-icon>
                                    <input
                                        type="text"
                                        name="room_name"
                                        class="form__control"
                                        pattern=".{3,20}"
                                        title="Room name must be between 3 and 20 characters."
                                        placeholder="Enter Room Name"
                                        v-model.trim="room_name"
                                    >
                                    <label for="room_name" class="form__label">Room Name</label>
                                </div>
                                <div class="form__input-group">
                                    <ion-icon name="key" class="form__icon"></ion-icon>
                                    <input
                                        type="password"
                                        name="password"
                                        class="form__control"
                                        placeholder="Enter Password"
                                        pattern=".{5,10}"
                                        title="Password must be between 5 and 15 characters"
                                        v-model.trim="password"
                                    >
                                    <label for="password" class="form__label">Password (Optional)</label>
                                </div>
                                <div class="form__input-group">
                                    <ion-icon name="person-add" class="form__icon"></ion-icon>
                                     <input
                                        type="number"
                                        :min="selectedGame.minPlayers"
                                        :max="selectedGame.maxPlayers"
                                        name="numberPlayers"
                                        class="form__control"
                                        :placeholder="[[selectedGame.minPlayers]] + ' to ' + [[selectedGame.maxPlayers]] + ' players'"
                                        title="Password must be between 5 and 15 characters"
                                        v-model.trim="selectedPlayers"
                                    >
                                    <label for="numberPlayers" class="form__label">Number of players</label>
                                </div>
                                <Error :errors="errors"/>
                                <button type="submit" class="btn btn--clear btn--danger">Create Room</button>
                            </form>
                        </template>
                    </Modal>
                    <Modal name="deleteRoom" ref="deleteRoom">
                        <template slot="header">
                            <h2 class="text-upper">Delete Room</h2>
                        </template>
                        <template slot="body">
                            <p class="lead">Warning: This action cannot be undone</p>
                            <p
                                class="lead mt-6"
                            >Are you sure you want to delete your room?</p>
                            <div class="actions mt-6">
                                <a
                                    href="#"
                                    @click.prevent="nicknameDelete"
                                    :name="roomDeleteName"
                                    class="btn btn--danger"
                                >Yes, Delete Room</a>
                            </div>
                        </template>
                    </Modal>
                    <Modal name="error-msg" ref="errorMsg" customHeight="350px">
                        <template slot="header">
                            <h2 class="text-upper">Error</h2>
                        </template>
                        <template slot="body">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <p class="lead">Please select a game!</p>
                        </template>
                    </Modal>
                    <div class="rooms__actions">
                        <a @click="openModal" class="btn btn--info">Create Room</a>
                        <a @click="fetchRoomData" class="btn btn--info">Refresh Rooms</a>
                    </div>
                </div>
                <div class="game-panel wrap">
                    <ul v-for="game in gameList"
                        :key="game.name"
                        class="game-ico"
                        >
                        <a href="#"><img class="img-game-panel" :src="game.image" @click="clickSelectGame(game)"></a>
                        <p>{{game.name}}</p>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import Modal from '@/components/layout/Modal';
import { mapActions, mapGetters } from 'vuex';
import Error from '@/components/error/Error.vue';

export default {
    name: 'RoomList',
    props: ['message'],
    components: {
        Modal: Modal,
        Error
    },
    data: function() {
        return {
            rooms: [],
            room_name: null,
            privateRoomName: null,
            password: null,
            privateRoomPassword: null,
            searchInput: '',
            errorMessage: this.message,
            errors: [],
            roomDeleteName: "",
            gameList: {
                ticTacToe: {
                    name: "Tic-Tac-Toe",
                    image: require("@/assets/img/tic-tac-toe-ico.png"),
                    minPlayers: 1,
                    maxPlayers: 4
                },
                rockPaperScissors: {
                    name: "Rock-Paper-Scissors",
                    image: require("@/assets/img/rock-paper-scissors-ico.png"),
                    minPlayers: 1,
                    maxPlayers: 6
                }
            },
            selectedGame: null,
            selectedPlayers: undefined
        };
    },
    computed: {
        ...mapGetters(['getUserData', 'getRoomData', 'getSocket']),
        getPrivateRooms() {
            return this.rooms.filter(room => room.access === false);
        },
        getPublicRooms() {
            return this.rooms.filter(room => room.access === true);
        },
        filteredRooms() {
            if (this.searchInput.toLowerCase() === 'my_rooms') {
                return this.rooms.filter(room => room.user && room.user._id === this.getUserData._id);
            } else {
                return this.rooms
                    .slice()
                    .sort(this.sortAlphabetical)
                    .filter(room =>
                        room.name.toLowerCase().includes(this.searchInput.toLowerCase())
                    );
            }
        }
    },
    methods: {
        ...mapActions(['updateRoomData', 'addRoom', 'deleteRoom', 'saveCurrentRoom']),
        sortAlphabetical(a, b) {
            let roomA = a.name.toUpperCase();
            let roomB = b.name.toUpperCase();
            if (roomA < roomB) {
                return -1;
            }
            if (roomA > roomB) {
                return 1;
            }
            return 0;
        },
        checkLingeringUser(data) {
            //return true;
            console.log("checkLingeringUser");
            for (const room of data) {
                console.log("chack user id: " + this.getUserData._id);
                if (room.users.find(user => user.lookup._id.toString() === this.getUserData._id)) {
                    return true;
                }
            }
            return false;
        },
        fetchRoomData() {
            axios
                .get('/api/room')
                .then(res => {
                    if (this.checkLingeringUser(res.data)) {
                        return axios.put(`/api/room/remove/users/all`, {
                            user_id: this.getUserData._id
                        });
                    } else {
                        this.$store.dispatch('updateRoomData', res.data);
                        this.rooms = res.data;
                    }
                })
                .then(res => {
                    if (res && res.data) {
                        this.rooms = res.data;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        openModal() {
            if(this.selectedGame === null) {
                this.$refs.errorMsg.open();
                return;
            }
            this.room_name = null;
            this.password = null;
            this.selectedPlayers = undefined;
            this.$refs.createRoom.open();
        },
        enterRoom(room) {
            this.$router.push({ name: 'Room', params: { id: room._id } });
        },
        nicknameCreateRoom(e) {
            e.preventDefault();
            axios
                .post('/api/room', {
                    room_name: this.room_name,
                    password: this.password,
                    game_name: this.selectedGame.name,
                    players_num: Number(this.selectedPlayers)
                })
                .then(res => {
                    if (res.data.errors) {
                        for (const error of res.data.errors) {
                            const [key] = Object.keys(error);
                            const [value] = Object.values(error);
                            this.errors.push({
                                key,
                                value
                            });
                        }
                    } else {
                        this.$refs.createRoom.close();
                        this.$store.dispatch('addRoom', res.data);
                        this.getSocket.emit('roomAdded', res.data);
                        this.nicknameRoomClick(res.data);
                    }
                })
                .catch(err => {
                    console.log(err);
                });
            setTimeout(() => {
                this.errors = [];
            }, 5000);
        },
        nicknameDelete(e) {
            e.preventDefault();
            this.$refs.deleteRoom.close();
            axios
                .delete(`/api/room/${e.target.name}`)
                .then(res => {
                    this.$store.dispatch('deleteRoom', res.data);
                    this.getSocket.emit('roomDeleted', {
                        room: res.data,
                        user: this.getUserData,
                        admin: true,
                        content: `${res.data.user.username} deleted room ${res.data.name}`
                    });
                })
                .catch(err => console.log(err));
        },
        nicknameDeleteModal(e) {
            e.preventDefault();
            this.roomDeleteName = e.target.name;
            this.$refs.deleteRoom.open();
        },
        nicknameRoomClick(room) {
            if(room.users.length >= room.players_num) {
                this.errorMessage = "The room is full";
                setTimeout(() => {
                    this.errorMessage = '';
                }, 5000);
                return;
            }
            if (
                room.access ||
                (room.user && this.getUserData._id === room.user._id) ||
                room.accessIds.includes(this.getUserData._id)
            ) {
                this.enterRoom(room);
            } else {
                this.privateRoomName = room.name;
                this.$refs.privateRoom.setData('room', room);
                this.$refs.privateRoom.open();
            }
        },
        nicknamePrivateRoomCheck(e) {
            e.preventDefault();
            axios
                .post('/api/room/verify', {
                    room_name: this.$refs.privateRoom.modalData.room.name,
                    password: this.privateRoomPassword
                })
                .then(res => {
                    if (res.data.errors) {
                        for (const error of res.data.errors) {
                            const [key] = Object.keys(error);
                            const [value] = Object.values(error);
                            this.errors.push({
                                key,
                                value
                            });
                        }
                        this.privateRoomPassword = null;
                    } else {
                        if (res.data.success) {
                            this.enterRoom(this.$refs.privateRoom.modalData.room);
                        }
                    }

                    setTimeout(() => {
                        this.errors = [];
                    }, 5000);
                })
                .catch(err => console.log(err));
        },
        clickSelectGame(game) {
            this.selectedGame = game;
        },
    },
    created() {
        this.getSocket.on('roomAdded', data => {
            this.rooms.unshift(JSON.parse(data));
        });

        this.getSocket.on('roomListUpdated', data => {
            this.rooms = this.rooms.filter(room => room._id !== JSON.parse(data).room._id);
        });

        this.getSocket.on('updateRooms', data => {
            this.rooms = JSON.parse(data).room;
        });

        this.getSocket.on('roomNameUpdated', data => {
            let updateIndex = 0;
            this.rooms.forEach((room, index) => {
                if (room._id === JSON.parse(data).room._id) {
                    updateIndex = index;
                }
            });
            this.rooms.splice(updateIndex, 1, JSON.parse(data).room);
        });
    },
    mounted() {
        this.fetchRoomData();
        if (this.errorMessage) {
            setTimeout(() => {
                this.errorMessage = '';
            }, 5000);
        }
    }
};
</script>

<style lang="scss">
@import '@/assets/scss/views/rooms.scss';

.roomcontainer {
    display: flex;
    float: right;
}

.chosengame-container {
    margin-bottom: 20px;
    margin-left: -55px;
}

.gametext {
    font-weight: bold;
}

.chosengame {
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
}

.deleteicon {
    color: white;
}

.roomname-text {
    color: #3c9adf;
}

.usersnum {
    color: lightgreen;
}

.playersnum {
    color: #ff3333;
}

.game-ico {
    margin: 4px;
    width: 140px;
    height: 160px;
}
</style>
