/** Fade Animation */
.fade-enter,
.fade-leave-to {
    opacity: 0.99;
}

.fade-leave,
.fade-enter-to {
    opacity: 1;
}

/** Slide In Animation */
.slideDown-enter,
.slideDown-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}

.slideDown-leave,
.slideDown-enter-to {
    opacity: 1;
    transform: translateY(0px);
}

/** Slide Up Animation */
.slideUp-enter,
.slideUp-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}

.slideUp-leave,
.slideUp-enter-to {
    opacity: 1;
    transform: translateY(0px);
}

/** Slide Left Animation */
.slideLeft-enter,
.slideLeft-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}

.slideLeft-leave,
.slideLeft-enter-to {
    opacity: 1;
    transform: translateX(0);
}
