<template>
    <div class="page login">
        <section class="section section__landing">
            <div class="section__content">
                <div v-if="this.confirmed === undefined">
                    <p class="login_mail_messages">Checking confirmation...</p>
                </div>
                <div v-else>
                    <div v-if="this.confirmed === true">
                        <p class="login_mail_messages">Confirmation successful.</p>
                    </div>
                    <div v-else>
                        <p class="login_mail_messages">Confirmation failed.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
import axios from 'axios';

export default {
    name: 'Error',
    props: ['errors', 'errorMessage'],
    data: function() {
        return {
            confirmed: undefined
        };
    },
    created: function() {
        document.getElementById('app').scrollIntoView();
        axios
            .post(`/api/auth/confirmation/${this.$route.params.confirmation_token}`, {
            })
            .then(res => {
                if (res.data.errors) {
                    this.confirmed = false;
                } else {
                    this.confirmed = true;
                }
            });
    },
    mounted() {}
};
</script>
