<template>
    <div class="page login">
        <section class="section section__landing">
            <div class="section__heading">
                <span class="section__title">Forgotten Password</span>
            </div>
            <div class="section__content">
                <form @submit.prevent="nicknameSubmit" class="form">
                    <div v-if="text_confirm"> 
                        <p class="login_mail_messages">The request is send. Check your e-mail.</p>
                    </div>
                    <div v-else>
                    <span class="form__lead">
                        <ion-icon name="person-add" class="icon"></ion-icon>Enter your e-mail address
                    </span>
                    <div class="form__input-group">
                        <ion-icon name="person" class="form__icon"></ion-icon>
                        <input
                            type="email"
                            name="email"
                            class="form__control"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            title="Email address is not valid"
                            placeholder="Enter Email"
                            required
                            v-model.trim="email"
                        >
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <Error :errors="errors"/>
                    <button type="submit" class="form__submit btn">Submit</button>
                    </div>
                    <br><br>
                    <div class="form__info-group">
                        <span>Return to</span>
                        <router-link to="/login" class="form__link btn btn--rounded">Login</router-link>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import Error from '../error/Error.vue';

export default {
    name: 'ForgottenPassword',
    components: {
        Error
    },
    data: function() {
        return {
            email: '',
            text_confirm: false,
            errors: []
        };
    },
    methods: {
        nicknameSubmit() {
            this.errors = [];

            if (this.email) {
                axios
                    .post('/api/auth/forgottenpassword', {
                        email: this.email
                    })
                    .then(res => {
                        if (res.data.errors) {
                            for (const error of res.data.errors) {
                                const [key] = Object.keys(error);
                                const [value] = Object.values(error);
                                this.errors.push({
                                    key,
                                    value
                                });
                            }
                        }
                        this.text_confirm = true;
                    })
                    .catch(() => this.text_confirm = true);
            }

            setTimeout(() => {
                this.errors = [];
            }, 5000);
        }
    },
    created: function() {
        document.getElementById('app').scrollIntoView();
    },
    mounted() {}
};
</script>


<style lang="scss">
@import '@/assets/scss/components/form.scss';
</style>
