<template>
    <div class="page login">
        <section class="section section__landing">
            <div class="section__heading">
                <span class="section__title">Sign In</span>
            </div>
            <div class="section__content">
                <!-- Error :errorMessage="errorMessage"/ -->
                <p class="section__lead">Welcome Back!</p>
                <div class="social">
                    <OAuth
                        provider="facebook"
                        icon="logo-facebook"
                        classes="social__item--facebook"
                    />
                    <OAuth provider="google" icon="logo-google" classes="social__item--google"/>
                </div>
                <form @submit.prevent="nicknameSubmit" class="form">
                    <span class="form__lead">
                        <ion-icon name="game-controller" class="icon"></ion-icon>We are excited to see you again!
                    </span>
                    <br>
                    <div class="form__input-group">
                        <ion-icon name="person" class="form__icon"></ion-icon>
                        <input
                            type="email"
                            name="email"
                            class="form__control"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            title="Email address is not valid"
                            placeholder="Enter Email"
                            required
                            v-model.trim="email"
                        >
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form__input-group">
                        <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                        <input
                            type="password"
                            name="password"
                            class="form__control"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                            title="Must contain at least one number, one uppercase and lowercase letter, one spacial character and from 8 to 15 characters"
                            placeholder="Enter Password"
                            required
                            v-model.trim="password"
                        >
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <Error :errors="errors"/>
                    <button type="submit" class="form__submit btn">Login</button>
                    <br><br>
                    <router-link to="/forgottenpassword" class="btn forgottenpassword">Forgotten password</router-link>
                    <br><br>
                    <div class="form__info-group">
                        <span>Don't have an account?</span>
                        <router-link to="/register" class="form__link btn btn--rounded">Register</router-link>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import Error from '../error/Error.vue';
import OAuth from '../social/OAuth.vue';
import { mapActions } from 'vuex';
import setAuthToken from '../../utils/authToken';

export default {
    name: 'Login',
    props: ['message'],
    components: {
        Error,
        OAuth
    },
    data: function() {
        return {
            email: '',
            password: '',
            errorMessage: this.message,
            errors: []
        };
    },
    methods: {
        ...mapActions(['saveUserData', 'toggleAuthState']),

        nicknameSubmit() {
            this.errors = [];
            if (this.email && this.password) {
                axios
                    .post('/api/auth/login', {
                        email: this.email,
                        password: this.password
                    })
                    .then(res => {
                        if (res.data.errors) {
                            for (const error of res.data.errors) {
                                const [key] = Object.keys(error);
                                const [value] = Object.values(error);
                                this.errors.push({
                                    key,
                                    value
                                });
                            }
                        } else {
                            localStorage.setItem('authToken', res.data.token);
                            this.$store.dispatch('toggleAuthState', true);
                            this.$store.dispatch('saveUserData', res.data.user);

                            setAuthToken(res.data.token);
                            
                            this.$router.push({
                                name: 'RoomList'
                            });
                        }
                    });
            }

            setTimeout(() => {
                this.errors = [];
            }, 5000);
        }
    },
    created: function() {
        document.getElementById('app').scrollIntoView();
    },
    mounted() {
        if (this.errorMessage) {
            setTimeout(() => {
                this.errorMessage = '';
            }, 5000);
        }
    }
};
</script>


<style lang="scss">
@import '@/assets/scss/components/form.scss';

.forgottenpassword {
    color:#3c9adf;
}
</style>
