<template>
    <div class="page login">
        <section class="section section__landing">
            <div class="section__heading">
                <span class="section__title">Register Here</span>
            </div>
            <div class="section__content">
                <p class="section__lead">We hope you will enjoy our application!</p>
                <div class="social">
                    <OAuth
                        provider="facebook"
                        icon="logo-facebook"
                        classes="social__item--facebook"
                    />
                    <OAuth provider="google" icon="logo-google" classes="social__item--google"/>
                </div>
                <form @submit.prevent="nicknameSubmit" class="form">
                    <span class="form__lead">
                        <ion-icon name="person-add" class="icon"></ion-icon>We always welcome new players!
                    </span>
                    <br>
                    <div class="form__input-group">
                        <ion-icon name="pricetags" class="form__icon"></ion-icon>
                        <input
                            type="text"
                            name="username"
                            class="form__control"
                            placeholder="Enter Username"
                            pattern=".{5,15}"
                            title="Username must be between 5 and 15 characters"
                            required
                            v-model.trim="username"
                        >
                        <label for="username" class="form__label">Username</label>
                    </div>
                    <div class="form__input-group">
                        <ion-icon name="person" class="form__icon"></ion-icon>
                        <input
                            type="email"
                            name="email"
                            class="form__control"
                            placeholder="Enter Email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            title="Email address is not valid"
                            required
                            v-model.trim="email"
                        >
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form__input-group">
                        <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                        <input
                            type="password"
                            name="password"
                            class="form__control"
                            placeholder="Enter Password"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                            title="Must contain at least one number, one uppercase and lowercase letter, one spacial character and from 8 to 15 characters"
                            required
                            v-model.trim="password"
                        >
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <div class="form__input-group">
                        <ion-icon name="lock-closed" class="form__icon"></ion-icon>
                        <input
                            type="password"
                            name="confirm_password"
                            class="form__control"
                            placeholder="Confirm Password"
                            required
                            v-model.trim="confirm_password"
                        >
                        <!--<input
                            type="password"
                            name="confirm_password"
                            class="form__control"
                            placeholder="Confirm Password"
                            pattern=".{5,15}" //the validation is deleted from the code
                            title="Password must be between 5 and 15 characters"
                            required
                            v-model.trim="confirm_password"
                        >-->
                        <label for="confirm_password" class="form__label">Confirm Password</label>
                    </div>
                    <Error :errors="errors"/>
                    <button type="submit" class="form__submit">Register</button>
                    <br><br>
                    <div class="form__info-group">
                        <span>Already have an account?</span>
                        <router-link to="/login" class="form__link btn btn--rounded">Login</router-link>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import slugify from 'slugify';
import Error from '../error/Error.vue';
import OAuth from '../social/OAuth.vue';
import setAuthToken from '../../utils/authToken';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'Register',
    components: {
        Error,
        OAuth
    },
    data: function() {
        return {
            username: '',
            email: '',
            password: '',
            confirm_password: '',
            errors: []
        };
    },
    computed: {
        ...mapGetters(['getSocket'])
    },
    methods: {
        ...mapActions(['saveUserData', 'toggleAuthState']),
        nicknameSubmit() {
            this.errors = [];

            if(this.password != this.confirm_password) {
                this.errors.push({
                    key: "Error",
                    value: "Confirmation password didn't match. Try again."
                });
            }
            else if (this.username && this.email && this.password) {
                axios
                    .post('/api/auth/register', {
                        nickname: slugify(this.username),
                        username: this.username,
                        email: this.email,
                        password: this.password
                    })
                    .then(res => {
                        if (res.data.errors) {
                            for (const error of res.data.errors) {
                                const [key] = Object.keys(error);
                                const [value] = Object.values(error);
                                this.errors.push({
                                    key,
                                    value
                                });
                            }
                        } else {
                            this.$router.push({
                                name: 'SentConfirmation'
                            });
                        }
                    });
            }

            setTimeout(() => {
                this.errors = [];
            }, 5000);
        }
    },
    created: function() {
        document.getElementById('app').scrollIntoView();
    },
    mounted() {}
};
</script>


<style lang="scss">
@import '@/assets/scss/components/form.scss';
</style>
