<template>
    <div class="page login">
        <section class="section section__landing">
            <div class="section__content">
                <p class="login_mail_messages">Email confirmation sent. Please check your e-mail inbox or spam folder.<br/><br/>
                Confirm the registration from your e-mail within 24 hours.</p>
            </div>
        </section>
    </div>
</template>


<script>
import axios from 'axios';

export default {
    name: 'Error',
    props: ['errors', 'errorMessage'],
    data: function() {
        return {
            confirmed: undefined
        };
    },
    created: function() {
        document.getElementById('app').scrollIntoView();
    },
    mounted() {}
};
</script>
