@import '../abstract/variables.scss';

.row {
    width: 1300px;
}

@media screen and (max-width: 1300px) {
  .row {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .game-panel {
      height: 180px !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 948px) {
  .game-panel {
      height: 380px !important;
  }
}

.game-panel {
    background: $primary-container-background;
    box-shadow: $primary-container-box-shadow;
    width:100%;
    height: 180px;
    margin: 1rem;
    display: flex;

    @include respond(phone) {
        max-width: 600px;
        min-width: 300px;
        margin-left: 10px;
    }

    @include respond(tablet-portrait) {
        max-width: 600px;
        margin-left: 10px;
    }
}

.img-game-panel {
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid;
  transition: 0.1s ease-in;
  height: 68px;
  width: 69px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
}

.img-game-panel:hover {
  transform: scale(1.2);
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.rooms {
    background: $primary-container-background;
    box-shadow: $primary-container-box-shadow;
    width: 600px;
    max-width: 600px;
    min-width: 600px;
    margin: 1rem auto;
    margin-left: 10px;

    @include respond(phone) {
        width: 100%;
         min-width: 300px;
    }

    @include respond(tablet-portrait) {
        width: 100%;
    }

    &__header {
        padding: 1rem 0;
    }

    &__details {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            margin: 0 0.8rem;
        }

        @include respond(tablet-portrait) {
            margin: 0 0.8rem;
        }

        &-item {
            display: flex;
            align-items: center;
            font-weight: bold;

            @include respond(phone) {
                text-align: left;
            }

            @include respond(tablet-portrait) {
                text-align: left;
            }
        }

        & span {
            margin: 0 10px;
        }
    }

    &__list {
        margin: 0;
        padding: 0 1rem;
        height: calc(100vh - 360px);
        max-height: calc(100vh - 360px);
        overflow: auto;

        @include respond(phone) {
                height: calc(100vh - 378px);
                max-height: calc(100vh - 378px);
            }

            @include respond(tablet-portrait) {
                height: calc(100vh - 378px);
                max-height: calc(100vh - 378px);
            }

        &-item {
            list-style: none;
            margin: 0 0 1rem 0;
            transition: opacity 0.5s ease, transform 0.5s ease;

            &:hover {
                opacity: 0.6;
            }

            &-link {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    &__item {
        &-container {
            display: flex;
            padding: 1rem;
            border-radius: 3px;
            border: 1px solid #eeeeee;

            @include respond(phone) {
                flex-flow: column;
            }

            @include respond(tablet-portrait) {
                flex-flow: column;
            }
        }

        &-details {
            width: 50%;
            text-align: left;

            @include respond(phone) {
                width: 100%;
                text-align: center;
            }

            @include respond(tablet-portrait) {
                width: 100%;
                text-align: center;
            }
        }

        /** List Item Actions */
        &-actions {
            display: flex;
            justify-content: flex-end;

            @include respond(phone) {
                justify-content: center;
            }

            @include respond(tablet-portrait) {
                justify-content: center;
            }
        }

        &-action {
            width: 50%;
            align-self: center;
            text-align: right;

            @include respond(phone) {
                width: initial;
                margin: 0.5rem 0;
            }

            @include respond(tablet-portrait) {
                width: initial;
                margin: 0.5rem 0;
            }
        }
    }

    &__actions {
        padding: 1rem;

        width: 100%;

        @include respond(phone) {
            & > * {
                width: 100%;
                margin: 0.5em 0;
            }
        }

        @include respond(tablet-portrait) {
            & > * {
                width: 100%;
                margin: 0.5em 0;
            }
        }
    }

    &__search-input {
        font-family: 'Work Sans';
        position: relative;
        padding: 1rem;
        border-radius: 3px;
        border: 1px solid #fff;
        background: transparent;
        margin: 1.5rem 0 0.5rem 0;
        z-index: 1;
        width: 95%;
        color: #fff;
        font-weight: bold;
        font-family: 'Work Sans', sans-serif;

        @include respond(phone) {
            width: 90%;
        }

        @include respond(tablet-portrait) {
                width: 90%;
        }
    }
}

.icon-delete:hover {
    opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
