<template>
  <div class="board-game">
    <div class="waiting" :style="{'opacity':!isStart&&players.length < players_num?1:0}">Waiting for players...</div>
    <div class="playersList">
      <player
        v-for="player in players"
        :key="player.id"
        :player="player"
        :currentTurn="currentTurn"
        :socket="socket"
      />
    </div>

    <transition name="countDown" mode="out-in">
      <div v-if="countDown>0" :key="countDown" id="countDown">{{countDown}}</div>
    </transition>

    <div id="board" v-show="isStart">
      <cell
        v-for="cell in cells"
        :key="cell.id"
        :img="cell.img"
        v-on:change="move(cell.id)"
        :canClick="cell.canClick"
        :size="size"
        :id="cell.mark"
      />

      <transition name="overlay">
        <div v-if="winnerImg!=''" class="overlay">
          <img :src="winnerImg" />
        </div>
      </transition>
    </div>
    <button v-if="winnerImg!=''" class="btn-tictactoe" v-on:click="playAgain">PLAY AGAIN</button>
  </div>
</template>

<script>
import cell from "@/components/games/TicTacToe/src/components/cell.vue"
import player from "@/components/games/TicTacToe/src/components/player.vue";

export default {
  name: "TicTacToe",
  props: ["socket", "nickname", "roomname", "players_num"],

  data() {
    return {
      roomID: "",
      players: [],
      cells: [],
      currentTurn: "",
      isStart: false,
      winnerImg: "",
      size: null,
      countDown: 0,
      msg: "",
      showMsg: false,
    };
  },

  created() {
    console.log("board " + this.roomname + " " + this.nickname);
    this.socket.on("waiting", time => {
      this.countDown = time;
    });
    this.socket.on("update", data => {
      this.roomID = data.roomID;
      this.cells = data.cells;
      this.currentTurn = data.currentTurn;
      this.winnerImg = data.winner.img;
      this.players = data.players;
      this.isStart = data.isStart;
      this.size = data.size;
    });
    this.socket.emit("joinGame", {
        username: this.nickname,
        img: "https://api.adorable.io/avatars/" + this.nickname,
        maxPlayers: this.players_num,
        roomname: this.roomname
    });
  },
  destroyed() {
    console.log("destroyed");
    this.socket.off("waiting");
    this.socket.off("update");
  },
  methods: {
    move: function(id) {
      this.socket.emit("move", id);
    },
    playAgain: function() {
      this.socket.emit("playAgain");
    }
  },

  components: {
    cell,
    player
  }
};
</script>

<style scoped>

.btn-tictactoe {
    width: 50%;
    height: 60px;
    background-color: #4ecdc4;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .8);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .8);
    font-weight: 700;
    font-size: large;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out
}

.btn-tictactoe:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #66a7a4
}

#countDown {
  margin: 0;
  user-select: none;
  text-shadow: 0 0 3px #6cf;
  color: #011;
  font-size: 20em;
  line-height: 0.7em;
  min-width: 350px;
  width: 350px;
}

.overlay-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 1s;
}
.overlay-enter {
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transform: rotate(90deg);
}
.msgInput-enter-active,
.msgInput-leave-active {
  transition: all 0.3s ease-in-out;
}
.msgInput-enter,
.msgInput-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.countDown-enter-active {
  transition: all 0.35s ease-in-out;
}
.countDown-enter {
  opacity: 0;
  transform: rotate3d(0, 1, 0, -180deg);
}
.bbtn {
  width: 40%;
  margin: 20px 10px;
  padding: 0;
}
.playersList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 350px;
  width: 350px;
  padding-bottom: 5px;
}
.overlay img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.overlay {
  position: relative;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#board {
  background: rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 10px;
  width: 350px;
  height: 350px;

  display: flex;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  overflow: hidden;
}

.waiting {
  overflow: hidden;
  background: linear-gradient(90deg, #1a535c, #4ecdc4, #1a535c);
  background-repeat: no-repeat;
  background-size: 85%;
  animation: textAnimate 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}

.board-game {
   min-height: 560px;
}

@keyframes textAnimate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
</style>
