<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <title>Game Lobby</title>
    </head>

    <body>
        <noscript>
            <strong
                >We're sorry but the game lobby doesn't work properly without JavaScript enabled. Please
                enable it to continue.</strong
            >
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->

        <script src="https://unpkg.com/ionicons@5.0.1/dist/ionicons.js"></script>
    </body>
</html>
